* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
  }
  body {
    margin: 0;
   padding: 5px;
    background-color: #63a7df;
  }

  .logotipo {
  
      font: 700 4em/1 "Oswald", sans-serif;
      letter-spacing: 0;
      padding: .25em 0 .325em;
      display: block;
      margin: 0 auto;
      text-shadow: 0 0 80px rgba(255,255,255,.5);
  
  /* Clip Background Image */
  
      background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
      -webkit-background-clip: text;
      background-clip: text;
  
  /* Animate Background Image */
  
      -webkit-text-fill-color: transparent;
      -webkit-animation: aitf 80s linear infinite;
  
  /* Activate hardware acceleration for smoother animations */
  
      -webkit-transform: translate3d(0,0,0);
      -webkit-backface-visibility: hidden;
  
    }

/*ESTILO PARA EL BOTON DE EDITAR IMAGEN PRINCIPAL Y COVER EN REVISION*/
    .image-container {
      position: relative;
      display: inline-block; /* Para que los contenedores estén uno al lado del otro */
      margin: 10px; /* Espacio entre las imágenes */
  }
  
  .edit-input {
      position: absolute;
      top: 5px;
      right: 5px;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      border: none;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: none; /* Oculto por defecto */
      justify-content: center;
      align-items: center;
      cursor: pointer;
  }
  
  .image-container:hover .edit-input {
      display: flex; /* Mostrar al pasar el mouse */
  }
  /*ESTILO PARA EL BOTON DE EDITAR IMAGEN PRINCIPAL Y COVER EN REVISION FINN*/
  
  /* Animate Background Image */
  
  @-webkit-keyframes aitf {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
  }

  .upload-form {
    /*display: flex;*/
   /* max-width: 250px;*/
    padding: 20px;
    flex-flow: column;
    /*margin: 100px auto 15px auto;*/
    background-color: #242222;
  box-shadow: 0 0 5px 0 rgba(244, 54, 11, 0.15);
  }
  .upload-form h1 {
    margin: 0;
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
    color: #434850;
    text-align: center;
  }
  .upload-form label {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: #1d1e1e;
    border: 1px solid #53392f;
    color: #5e5956;
    padding: 10px 12px;
    font-weight: 500;
    font-size: 14px;
    margin: 10px 0;
    border-radius: 4px;
    cursor: pointer;
  }
  .upload-form label i {
    margin-right: 10px;
    padding: 5px 0;
    color: #dbdce0;
  }
  .upload-form label span {
    display: inline-block;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    word-break: break-all;
  }
  .upload-form label:hover {
    background-color: #f7f8f9;
    border: 1px solid #e3e5ea;
    color: #68686a;
  }
  .upload-form label:hover i {
    color: #cfd1d4;
  }
  .upload-form input1[type="file"] {
    appearance: none;
    visibility: hidden;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
  }
  .upload-form .progress {
    height: 20px;
    
    border-radius: 4px;
    margin: 10px 0;
    background-color: #e6e8ec;
  }
  .upload-form button {
    appearance: none;
    background-color: #be5a41;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    border: 0;
    padding: 10px 12px;
    margin-top: 10px;
    color: #d95e30;
    cursor: pointer;
  }
  .buttonDev {
    appearance: none;
    background-color: #be5a41;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    border: 0;
    padding: 10px 12px;
    margin-top: 10px;
    color: #fff;
    cursor: pointer;
  }
  .buttonRev {
    appearance: none;
    background-color: #1b3f8b;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    border: 0;
    padding: 10px 12px;
    margin-top: 10px;
    color: #fff;
    cursor: pointer;
  }
  .buttonApr {
    appearance: none;
    background-color: #41be41;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    border: 0;
    padding: 10px 12px;
    margin-top: 10px;
    color: #fff;
    cursor: pointer;
  }
  .img_pri {
    appearance: none;
    background-color: #979997;
    border-radius: 7px;
    font-weight: 500;
    font-size: 14px;
    ;
    padding: 10px 12px;
    margin-top: 10px;
    color: #fff;
    cursor: pointer;
  }
  
  #buttonDev1:hover {
    background-color: #b6563e;
  }
  #buttonRev1:hover {
    background-color: #3871b3;
  }
  #buttonApr1:hover {
    background-color: #38b361;
  }
  .upload-form button:disabled {
    background-color: #3c332f;
  }
  .upload-form .result {
  /** padding-top: 15px;*/
  }